In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('trans1.json','r') as f1:
    data1= (line.strip() for line in f1)
    data_json1="[{0}]".format(','.join(data1))

In [3]:
data1 = pd.read_json(data_json1)

In [4]:
data1.shape

(391085, 29)

In [5]:
with open('trans2.json','r') as f2:
    data2= (line.strip() for line in f2)
    data_json2="[{0}]".format(','.join(data2))

In [6]:
data2=pd.read_json(data_json2)

In [7]:
data2.shape

(395278, 29)

In [8]:
df= pd.merge(data1,data2,how='outer')

In [9]:
df.head()

,accountNumber,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,...,echoBuffer,currentBalance,merchantCity,merchantState,merchantZip,cardPresent,posOnPremises,recurringAuthInd,expirationDateKeyInMatch,isFraud
0,737265056,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,...,,0.0,,,,False,,,False,False
1,737265056,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,...,,0.0,,,,True,,,False,False
2,737265056,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
3,737265056,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,...,,0.0,,,,False,,,False,False
4,830329091,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,...,,0.0,,,,True,,,False,False

In [10]:
#info shows no null entries, but there are clearly are some null/empty entries

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786363 entries, 0 to 786362
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   accountNumber             786363 non-null  int64
 1   customerId                786363 non-null  int64
 2   creditLimit               786363 non-null  int64
 3   availableMoney            786363 non-null  float64
 4   transactionDateTime       786363 non-null  object
 5   transactionAmount         786363 non-null  float64
 6   merchantName              786363 non-null  object
 7   acqCountry                786363 non-null  object
 8   merchantCountryCode       786363 non-null  object
 9   posEntryMode              786363 non-null  object
 10  posConditionCode          786363 non-null  object
 11  merchantCategoryCode      786363 non-null  object
 12  currentExpDate            786363 non-null  object
 13  accountOpenDate           786363 non-null  object
 14  dateOfLastAddressChange   786363 non-null  object
 15  cardCVV                   786363 non-null  int64
 16  enteredCVV                786363 non-null  int64
 17  cardLast4Digits           786363 non-null  int64
 18  transactionType           786363 non-null  object
 19  echoBuffer                786363 non-null  object
 20  currentBalance            786363 non-null  float64
 21  merchantCity              786363 non-null  object
 22  merchantState             786363 non-null  object
 23  merchantZip               786363 non-null  object
 24  cardPresent               786363 non-null  object
 25  posOnPremises             786363 non-null  object
 26  recurringAuthInd          786363 non-null  object
 27  expirationDateKeyInMatch  786363 non-null  object
 28  isFraud                   786363 non-null  object
dtypes: float64(3), int64(6), object(20)
memory usage: 180.0+ MB

In [11]:
#check for empty columns

empty_columns=df.loc[:, (df == '').all()]
empty_columns.head()

C:\Users\vtou2\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,echoBuffer,merchantCity,merchantState,merchantZip,posOnPremises,recurringAuthInd
0,,,,,,
1,,,,,,
2,,,,,,
3,,,,,,
4,,,,,,

In [12]:
#accountNumber and customerID are exactly the same

same_id=np.where(df["accountNumber"] == df["customerId"], True, False)
df[same_id==False]

Empty DataFrame
Columns: [accountNumber, customerId, creditLimit, availableMoney, transactionDateTime, transactionAmount, merchantName, acqCountry, merchantCountryCode, posEntryMode, posConditionCode, merchantCategoryCode, currentExpDate, accountOpenDate, dateOfLastAddressChange, cardCVV, enteredCVV, cardLast4Digits, transactionType, echoBuffer, currentBalance, merchantCity, merchantState, merchantZip, cardPresent, posOnPremises, recurringAuthInd, expirationDateKeyInMatch, isFraud]
Index: []

[0 rows x 29 columns]

In [13]:
#dropping empty and duplicated columns


df=df.drop(columns=['accountNumber','echoBuffer','merchantCity','merchantState','merchantZip','posOnPremises','recurringAuthInd'])

In [14]:
df.shape

(786363, 22)

In [15]:
df.head(10)

,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,5000,5000.00,2016-08-13T14:27:32,98.55,Uber,US,US,02,01,...,2015-03-14,2015-03-14,414,414,1803,PURCHASE,0.00,False,False,False
1,737265056,5000,5000.00,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.00,True,False,False
2,737265056,5000,5000.00,2016-11-08T09:18:39,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.00,False,False,False
3,737265056,5000,5000.00,2016-12-10T02:14:50,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.00,False,False,False
4,830329091,5000,5000.00,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.00,True,False,False
5,830329091,5000,5000.00,2016-04-19T16:24:27,30.76,In-N-Out #422833,US,US,02,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.00,True,False,False
6,830329091,5000,5000.00,2016-05-21T14:50:35,57.28,Krispy Kreme #685312,US,US,02,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.00,True,False,False
7,830329091,5000,5000.00,2016-06-03T00:31:21,9.37,Shake Shack #968081,US,US,05,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.00,True,False,False
8,830329091,5000,4990.63,2016-06-10T01:21:46,523.67,Burger King #486122,,US,02,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,9.37,True,False,False
9,830329091,5000,5000.00,2016-07-11T10:47:16,164.37,Five Guys #510989,US,US,05,08,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.00,True,False,False

In [16]:
#9695 rows that contains at least one empty entry

df_empty=df[df.applymap(lambda x: len(str(x)) ==0).any(axis=1)]
df.head()

,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,5000,5000.0,2016-08-13T14:27:32,98.55,Uber,US,US,02,01,...,2015-03-14,2015-03-14,414,414,1803,PURCHASE,0.0,False,False,False
1,737265056,5000,5000.0,2016-10-11T05:05:54,74.51,AMC #191138,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,True,False,False
2,737265056,5000,5000.0,2016-11-08T09:18:39,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
3,737265056,5000,5000.0,2016-12-10T02:14:50,7.47,Play Store,US,US,09,01,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
4,830329091,5000,5000.0,2016-03-24T21:04:46,71.18,Tim Hortons #947751,US,US,02,01,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False

In [17]:
#Most rows that contain empty entries contain only one with the max empty entries of 3
#Do not need to drop any rows for now

df_empty.iloc[:, 1:].eq("").sum(axis=1).describe()

C:\Users\vtou2\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

count    9695.000000
mean        1.077566
std         0.269805
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         3.000000
dtype: float64

In [18]:
#acqCountry and posEntryMode contain a few empty entries, but relatively small for the data size
#Do not need to drop any of these columns


df_empty.iloc[:, 1:].eq("").sum(axis=0)

creditLimit                    0
availableMoney                 0
transactionDateTime            0
transactionAmount              0
merchantName                   0
acqCountry                  4562
merchantCountryCode          724
posEntryMode                4054
posConditionCode             409
merchantCategoryCode           0
currentExpDate                 0
accountOpenDate                0
dateOfLastAddressChange        0
cardCVV                        0
enteredCVV                     0
cardLast4Digits                0
transactionType              698
currentBalance                 0
cardPresent                    0
expirationDateKeyInMatch       0
isFraud                        0
dtype: int64

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 786363 entries, 0 to 786362
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   customerId                786363 non-null  int64
 1   creditLimit               786363 non-null  int64
 2   availableMoney            786363 non-null  float64
 3   transactionDateTime       786363 non-null  object
 4   transactionAmount         786363 non-null  float64
 5   merchantName              786363 non-null  object
 6   acqCountry                786363 non-null  object
 7   merchantCountryCode       786363 non-null  object
 8   posEntryMode              786363 non-null  object
 9   posConditionCode          786363 non-null  object
 10  merchantCategoryCode      786363 non-null  object
 11  currentExpDate            786363 non-null  object
 12  accountOpenDate           786363 non-null  object
 13  dateOfLastAddressChange   786363 non-null  object
 14  cardCVV                   786363 non-null  int64
 15  enteredCVV                786363 non-null  int64
 16  cardLast4Digits           786363 non-null  int64
 17  transactionType           786363 non-null  object
 18  currentBalance            786363 non-null  float64
 19  cardPresent               786363 non-null  object
 20  expirationDateKeyInMatch  786363 non-null  object
 21  isFraud                   786363 non-null  object
dtypes: float64(3), int64(5), object(14)
memory usage: 138.0+ MB

In [20]:
#fix data types

df[['customerId','cardCVV','enteredCVV','cardLast4Digits']]=df[['customerId','cardCVV','enteredCVV','cardLast4Digits']].astype('object')

In [21]:
#remove 'T' in order to split up by date and time

df['transactionDateTime']=df['transactionDateTime'].map(lambda x: str(x).replace('T',' '))

In [22]:
df['date'] = pd.to_datetime(df['transactionDateTime']).dt.date
df['time'] = pd.to_datetime(df['transactionDateTime']).dt.time
df.head()

,customerId,creditLimit,availableMoney,transactionDateTime,transactionAmount,merchantName,acqCountry,merchantCountryCode,posEntryMode,posConditionCode,...,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud,date,time
0,737265056,5000,5000.0,2016-08-13 14:27:32,98.55,Uber,US,US,02,01,...,414,414,1803,PURCHASE,0.0,False,False,False,2016-08-13,14:27:32
1,737265056,5000,5000.0,2016-10-11 05:05:54,74.51,AMC #191138,US,US,09,01,...,486,486,767,PURCHASE,0.0,True,False,False,2016-10-11,05:05:54
2,737265056,5000,5000.0,2016-11-08 09:18:39,7.47,Play Store,US,US,09,01,...,486,486,767,PURCHASE,0.0,False,False,False,2016-11-08,09:18:39
3,737265056,5000,5000.0,2016-12-10 02:14:50,7.47,Play Store,US,US,09,01,...,486,486,767,PURCHASE,0.0,False,False,False,2016-12-10,02:14:50
4,830329091,5000,5000.0,2016-03-24 21:04:46,71.18,Tim Hortons #947751,US,US,02,01,...,885,885,3143,PURCHASE,0.0,True,False,False,2016-03-24,21:04:46

In [23]:
col_names=['customerId', 'creditLimit', 'availableMoney', 'transactionDateTime', 'date', 'time',
       'transactionAmount', 'merchantName', 'acqCountry',
       'merchantCountryCode', 'posEntryMode', 'posConditionCode',
       'merchantCategoryCode', 'currentExpDate', 'accountOpenDate',
       'dateOfLastAddressChange', 'cardCVV', 'enteredCVV', 'cardLast4Digits',
       'transactionType', 'currentBalance', 'cardPresent',
       'expirationDateKeyInMatch', 'isFraud']
df=df.reindex(columns=col_names)

In [24]:
df.head()

,customerId,creditLimit,availableMoney,transactionDateTime,date,time,transactionAmount,merchantName,acqCountry,merchantCountryCode,...,accountOpenDate,dateOfLastAddressChange,cardCVV,enteredCVV,cardLast4Digits,transactionType,currentBalance,cardPresent,expirationDateKeyInMatch,isFraud
0,737265056,5000,5000.0,2016-08-13 14:27:32,2016-08-13,14:27:32,98.55,Uber,US,US,...,2015-03-14,2015-03-14,414,414,1803,PURCHASE,0.0,False,False,False
1,737265056,5000,5000.0,2016-10-11 05:05:54,2016-10-11,05:05:54,74.51,AMC #191138,US,US,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,True,False,False
2,737265056,5000,5000.0,2016-11-08 09:18:39,2016-11-08,09:18:39,7.47,Play Store,US,US,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
3,737265056,5000,5000.0,2016-12-10 02:14:50,2016-12-10,02:14:50,7.47,Play Store,US,US,...,2015-03-14,2015-03-14,486,486,767,PURCHASE,0.0,False,False,False
4,830329091,5000,5000.0,2016-03-24 21:04:46,2016-03-24,21:04:46,71.18,Tim Hortons #947751,US,US,...,2015-08-06,2015-08-06,885,885,3143,PURCHASE,0.0,True,False,False

In [25]:
#Confirm no duplicated rows

df.duplicated().sum()

0

In [26]:
#There are 5000 unique customer ID's

customers=df.customerId.unique()
len(customers)

5000

In [27]:
#14% of last 4 card digits are not of length 4


not_last4=df['cardLast4Digits'].apply(lambda x: len(str(x))!=4).sum()

not_last4_ratio= not_last4/len(df)

print(not_last4_ratio*100)

14.038300377815336

In [28]:
#Make sure there are no outlier dates

df['date'].sort_values()

472908    2016-01-01
474663    2016-01-01
426680    2016-01-01
383677    2016-01-01
426679    2016-01-01
             ...
366135    2016-12-30
366136    2016-12-30
366137    2016-12-30
769870    2016-12-30
786362    2016-12-30
Name: date, Length: 786363, dtype: object

In [29]:
#1.6% is Fraud

df.isFraud.sum()/len(df)*100

1.579041740264992